body{
    background: linear-gradient(to bottom, #000, #530C0C);
    
}

h1{
    color: #fff;
}

button{
    background-color: #D23636;
    color: #E5E5E5;
    margin-top: 30px;
    margin-left: 25px;
    width: 200px;
    height: 40px;
    
}